.badges-headline {
    display: inline-block;
}

.badges-content {
    display: inline-block;
    margin: 10px;
}

.badges-icon {
    width: 40px;
    height: 40px;
}

.badges-title {
    display: block;
}