.badges-headline {
    display: inline-block;
}

.badges-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.badges-icon {
    width: 40px;
    height: 40px;
}

.badges-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}